@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800");
html,
body {
  direction: rtl;
  text-align: right;
  font-family: "Cairo", sans-serif;
}

body {
  overflow-x: hidden;
}
.post__content__text,
p,
.lead {
  font-size: 1.25rem;
  line-height: 1.8;
  color: #555;
  font-weight: 400;
  margin-bottom:25px;
}
.navbar {
  background: #95103b !important;
  border-bottom: 2px solid #6f092a;
  margin-bottom: 3px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.navbar .nav-item a {
  text-transform: lowercase;
}
.navbar .nav-item a::first-letter {
  text-transform: capitalize;
}
.navbar-nav {
  margin-right: auto;
}

.hero img {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
  max-height: 350px;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
.section__title {
  text-align: center;
  margin-bottom: 50px;
}
.section__title span {
  padding-bottom: 15px;
  font-size: 2.5rem;
  font-weight: 500;
  /* white-space: pre; */
  margin: 0 auto 20px;
  color: #95103b;
}
.post__img,
.img__style {
  padding: 8px;
  background: #d9d7d7;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #ccc;
}
.post__img img,
.img__style img {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  height: 100%;
  box-shadow: 0 0 2px #22222282;
}

.list__item {
  list-style: none;
  padding: 0;
}
.list__item li {
  padding: 4px 10px;
  background: #fff;
  margin-bottom: 5px;
  box-shadow: 0 1px 2px #0005;
  border-radius: 3px;
  color: #555;
}

.video__ {
  padding: 30px 0;
  background: #ccc5;
  border: 1px solid #ccc8;
  border-right: none;
  border-right: none;
  margin: 30px 0;
}

/* Responsive */

.post__style {
  max-width: 800px;
  margin: 0 auto;
  background: #ececec;
  padding: 40px 40px;
  margin-top: -20px;
  transform: translateY(-40px);
  border-radius: 2px;
  border: 1px solid #ccc;
}
.post__title {
  color: #95103b;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
.post__img video,
.post__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  min-height: 300px;
}
.post__content__text {
  padding: 20px 30px;
}

.columns__ {
  column-count: 2;
  column-gap: 10px;
  /* column-rule: 1px solid #ccc; */
}
@media(max-width:500px){
  .columns__ {
    column-count: 1;
  }
}
@media(min-width:767px){
  .columns__ {
    column-count: 3;
  }
}
@media(max-width:991px){
  .__order .col-lg-6:first-child{
    order: 1
  }
}
.column__ {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background: #eae8e8;
  padding-top: 10px;
  border-radius: 12px;
}



.title__news {
  font-size: 2.1rem;
margin-bottom: 30px;
color: #95103b;
font-weight: 600;
}
footer {
  margin-top: 20px;
  text-align: center;
  background: #ccc;
  padding: 10px;
  border-top: 1px solid #ccc8;
}
footer p {
  margin: 0;
}
